<h2>MTA STATUS</h2>
<div></div>
<div class="row">
		<div class="col-md-12 center">
<% @lines.each do |line| %>
	<div class="rectangle <% if line.status != "GOOD SERVICE" %> <%="delays"%> <% end %> ">
		<p>
			<a href="/line/<%=line.id%>"><%=line.name%></a>
		</p>
	</div>
<% end %>
</div>
</div>
<h3>Last updated <%=@update_time%></h3>
<%= render '/layouts/register' unless current_user.present?%>
<%= render '/user/sms_setup' if current_user.present?%>
